@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@200&display=swap');
*{
    margin: 0px;
    padding: 0px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
body{
    font-family: 'Heebo', sans-serif;
    background-color:#d9eafc;
}
h4{
    font-size: 30px;
    
}
p{
    font-size: 25px;
    margin-bottom: 30px;
    margin-top: 20px;
    display: flex;
}
input{
    font-size: 20px;
margin-left: 20px;
border: none;
outline: none;
border-bottom: 1px solid #000;
background-color: #eeee;
}
select{
    font-size: 20px;
    margin-left: 20px;
    margin-right: 10px;
    background-color: #eeee;
    border-radius: 10px;
}
button{
    font-size: 30px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 15px;
    transition: 0.2s;
}
button:hover{
    background-color: black;
    color: white;
}
.center{
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center; 
}
.container{
    
    background-color: #eeee;
    border-radius: 20px;
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  box-shadow: 9px 13px 59px 1px #000000;
}
.firstValid{
    display: flex;
}
span{
    color: red;
}
